<nav class="navbar navbar-expand-sm navbar-dark p-3">
    <h5 style="color:whitesmoke; font-weight: bolder; font-family: cursive;">Blood Bank</h5>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="collapsibleNavbar" class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a [routerLink]="" (click)="gotohomepage()" class="nav-link">HOME</a>
            </li>

            <li class="nav-item">
                <a [routerLink]="" (click)="gotoReq()" class="nav-link">REQUEST STATUS</a>
            </li>

            <li class="nav-item">
                <a [routerLink]="" (click)="gotobb()" class="nav-link">BLOOD BANK DIRECTORY</a>
            </li>

            <li class="nav-item">
                <a class="nav-link active">DONOR DIRECTORY</a>
            </li>

            <li class="nav-item" *ngIf="isLoggedIn()">
                <a [routerLink]="" (click)="logout()" class="nav-link">LOGOUT</a>
            </li>

            <li class="nav-item" *ngIf="!isLoggedIn()">
                <a [routerLink]="" (click)="login()" class="nav-link">LOGIN</a>
            </li>

            <!-- <li class="nav-item">
                <a [routerLink]="" (click)="gotohome()" class="nav-link">LOGOUT</a>
            </li> -->
        </ul>
    </div>
</nav>

<div class="container" *ngIf="isVisible">
    <form class="mx-auto bg-light p-5" style="width: 600px;">
        <h1 class="text-primary " style="font-size: 2rem !important; font-weight: 700;">Add Request</h1>
        <div class="mb-1 mt-2">
            <label for="bldgrp" class="form-label">Requested Blood Group:</label>
            <input type="text" name="bldgrp" id="bldgrp" class="form-control" [(ngModel)]="model.requestedBloodGroup"/><br>
        </div>

        <div class="mb-1">
            <label for="date" class="form-label">Date:</label>
            <input type="date" class="form-control" name="date" id="date" [(ngModel)]="model.requestDate"/><br>
        </div>

        <div class="mb-1">
            <label for="donornm" class="form-label">To Donor:</label>
            <input type="text" class="form-control" name="donornm" id="donornm" [(ngModel)]="model.blookBankName_donorName"/><br>
        </div>

        <button class="btn btn-primary me-3" type="submit" (click)="sendRequest()">Send Request</button>
        <button class="btn btn-secondary" type="submit" (click)="cancelRequest()">Cancel</button>

    </form>
</div>

<div class="container-fluid p-3">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Donor Name</th>
                <th>Blood Group</th>
                <th>Contact</th>
                <th>  </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of donors">
                <td>{{i.donorId}}</td>
                <td>{{i.donorName}}</td>
                <td>{{i.donorBloodGroup}}</td>
                <td>{{i.donorContact}}</td>
                <td><button class="btn btn-warning" (click)="goToAddRequest(i.donorName)"><i-bs name="plus-lg"></i-bs>
                        Request </button></td>
                <!--(click)="selectDonor(i.donorId,i.donorName,i.donorBloodGroup,i.donorContact)"-->
            </tr>
        </tbody>
    </table>
</div>